
body {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}


  
 

  .box-casos {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  