.uno {
    background-color: aqua;
  }
  
  .dos {
    background-color: blueviolet;
  }
  
  .tres {
    background-color: chartreuse;
  }
  
  .cuatro {
    background-color: coral;
  }
  
  .cinco {
    background-color: crimson;
  }
  
  .seis {
    background-color: darkgreen;
  }
  